 .container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid black; 
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color, 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black; 
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}  
.flex-blackjack-row-1, .flex-blackjack-row-2{
    /* background: url('https://media.istockphoto.com/illustrations/dark-green-background-with-small-touches-christmas-texture-with-on-illustration-id1289562025?k=20&m=1289562025&s=612x612&w=0&h=dpZ5Hp8af-lCCUtw_7uJJF0Kike_vlftRlo5xViubgs=') center; */
    /* background: url('https://media.istockphoto.com/photos/abstract-dark-green-grunge-background-picture-id1178625456?k=20&m=1178625456&s=612x612&w=0&h=zTEgWSV7gnwiMTQz4x6lKrOH_DFx7dRgZjX5WAJwLww='); */
    background: url('https://media.istockphoto.com/photos/abstract-green-grunge-background-picture-id1079751468?k=20&m=1079751468&s=612x612&w=0&h=8Vj_5f4J1QGN4vHQkw-yzgBzFDb1sr2DJ2C12cJTegY=');
    background-size: cover;
    color: #ffffff;
}
.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}
.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
}
.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}
table, th, td {
    padding: 5px;
    border: 1px solid black;
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}  
.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
} 
 